*{
	//забороняємо виділення (всім браузерам)
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}



body{
	margin: 0;
	padding: 0;
	cursor: crosshair;
	background: black;
	overflow:hidden; //no scroll
}

.restartText{
	display: none; //for first start

	position: fixed;
	left: 5%;
	top: 30%;
	z-index: 5;
	width: 90%;
	height: 30vh;
	margin: auto;
	color: red;
	text-align: center;
	font: bold;
	& h1{
		font-size: 50pt;
	}
	
	& p{
		font-size: 25pt;
	}
}

#cont{
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: hidden ;
}

.bullet{
	position: absolute;
	z-index: 2;
}

.explosion{
	height: 134px;
	width: 134px;
	position: absolute;
	background: url('img/explosion.png') left center;
	animation: expPlay 1.2s steps(12);
	z-index: 4;
}
@keyframes expPlay {
   100% { background-position: -1608px; }
}


img#player {

  
  //transition: position 0.3s linear 0s;
  -webkit-transition-property: top, left;
  //-webkit-transition-duration: 0.5s;
  
  position: absolute;
  top: 0px;
  left: 0px;
  
  z-index: 3;
}

.enemy{
	width: 64px;
	height: 64px;
	position: absolute;
	background: green;
	background: url('img/enemy.png') left center;
	background-size: cover;
	animation:  enemyPlay 2s steps(12);
	animation-iteration-count:infinite;
	
}
@keyframes enemyPlay {
   100% { background-position: -768px; }
}
