body{
	margin: 0;
	padding: 0;
}

#cont{
	margin: auto;
	width: 100%;
	height: 100vh;
	background: black fixed; 
}


img#player {

  
  //transition: position 0.3s linear 0s;
  -webkit-transition-property: top, left;
  //-webkit-transition-duration: 0.5s;
  
  position: absolute;
  top: 0px;
  left: 0px;
}